.leftbarFriendList{
    list-style: none;
    padding: 0;
    margin: 0;
}
.leftbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.leftbarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.leftbarFriendName{
    font-weight: 500;
    font-size: 14px;
}