.rightbarFriendList{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -10;
}
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.rightbarProfileImgContainer{
    position: relative;
}
.rightbarProfileImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.rightbarOnline{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4bcb1f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
}
.rightbarUsername{
    font-weight: 500;
    font-size: 14px;
}